flujotecnoteca/My workflow 17.json
{
  "updatedAt": "2026-06-16T20:22:26.807Z",
  "createdAt": "2026-06-16T19:43:47.336Z",
  "id": "8MRkwVlxxF1UACKH",
  "name": "My workflow 17",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1152,
        240
      ],
      "id": "49f0e18f-27df-41c8-b185-f348938c7d20",
      "name": "Telegram Trigger",
      "webhookId": "e8d4d2f7-0276-499b-a65b-953784afa756",
      "credentials": {
        "telegramApi": {
          "id": "jXntGapLwzbPQNRN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "👋 Bienvenido a ETNADE.  Por favor indique el DNI del alumno para continuar.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -864,
        240
      ],
      "id": "4470984e-15a8-4c52-bbd1-3c9e13632dbc",
      "name": "Send a text message",
      "webhookId": "2f5b38bd-d272-4a43-a3c3-7aabae6e08f5",
      "credentials": {
        "telegramApi": {
          "id": "jXntGapLwzbPQNRN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "62ece7a8-da22-4a61-a9f8-7655a8236887",
              "name": "chat_id",
              "value": "={{ String($json.message.chat.id) }}",
              "type": "string"
            },
            {
              "id": "e338c1c1-e819-4f11-97bc-dc3178473b9a",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        240
      ],
      "id": "aa613fd1-6720-4460-9b1b-16b02b041caa",
      "name": "Preparar datos"
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "Por favor ingrese un DNI válido.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -336,
        368
      ],
      "id": "2fd1e832-ac7f-4878-aaa2-dfd9810e1171",
      "name": "Send a text message1",
      "webhookId": "44a1585c-7544-4796-ae6b-f5f0734b8932",
      "credentials": {
        "telegramApi": {
          "id": "jXntGapLwzbPQNRN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1wf3r6bCu9LmmhZ0W8peDLvJkkRH6pRoVXrCfny60lC8",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Alumnos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1wf3r6bCu9LmmhZ0W8peDLvJkkRH6pRoVXrCfny60lC8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "DNI",
              "lookupValue": "=={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -368,
        112
      ],
      "id": "f430c468-cd41-44ad-82a0-153d1bc54b0e",
      "name": "Buscar alumno",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "R7IAK2XJKsdRWNL9",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0f0c87a-4c08-4dac-be09-2d91ecba9ce3",
              "leftValue": "Alumno existe",
              "rightValue": "=={{ $json.DNI }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "29d67a13-36b3-46c0-b98f-2cc73d003a90",
      "name": "Alumno encontrado"
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "==Alumno encontrado:\n\n{{ $json[\"Nombre y Apellido\"] }}\n\nDNI: {{ $json.DNI }}\n\nSeleccione una opción:\n\n1️⃣ Consultar monto del abono mensual\n\n2️⃣ Consultar deuda actual\n\n3️⃣ Informar un pago",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "39c186cd-7ca4-4771-9474-b904e09a420d",
      "name": "Send a text message2",
      "webhookId": "dc8b2b92-a973-4957-8d4d-ef33cd626b7b",
      "credentials": {
        "telegramApi": {
          "id": "jXntGapLwzbPQNRN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.result.chat.id }}",
        "text": "No encontramos un alumno asociado a ese DNI.  Por favor vuelva a intentarlo.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        208
      ],
      "id": "7c48a70c-9eeb-4e5a-bb37-66cd50d5f0b8",
      "name": "Send a text message3",
      "webhookId": "d638975e-6198-4223-8c56-8e0cdc55d65a",
      "credentials": {
        "telegramApi": {
          "id": "jXntGapLwzbPQNRN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "usuarios_bot"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        240
      ],
      "id": "97c6fcb3-3207-4696-8dd2-1e048c8202af",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "yabT4mbhVaT3PxWP",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "10a708c8-7761-4085-9f69-4e0aed0731c7",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -512,
        240
      ],
      "id": "20149f03-65b6-46ff-91ce-fb6ff255024c",
      "name": "If"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Preparar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar alumno": {
      "main": [
        [
          {
            "node": "Alumno encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alumno encontrado": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ee288774-3876-4ff0-be04-dbfef31919c7",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-16T19:43:47.336Z",
      "createdAt": "2026-06-16T19:43:47.336Z",
      "role": "workflow:owner",
      "workflowId": "8MRkwVlxxF1UACKH",
      "projectId": "N4ozfraWX7xXqP26"
    }
  ],
  "activeVersion": null,
  "tags": []
}